In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("./test_data.csv")
df.columns

Index(['Tsi', 'Tox', 'Ns', 'Nc', 'Nd', 'Vds', 'Vgs', 'Id'], dtype='object')

In [18]:
df.drop('Tsi', axis = 1, inplace = False)

,Tox,Ns,Nc,Nd,Vds,Vgs,Id
0,2.5,1.000000e+20,1.000000e+17,5.000000e+18,0.5,0.000000,2.330000e-18
1,2.5,1.000000e+20,1.000000e+17,5.000000e+18,0.5,0.002000,4.340000e-18
2,2.5,1.000000e+20,1.000000e+17,5.000000e+18,0.5,0.005733,1.130000e-18
3,2.5,1.000000e+20,1.000000e+17,5.000000e+18,0.5,0.012951,5.430000e-19
4,2.5,1.000000e+20,1.000000e+17,5.000000e+18,0.5,0.022951,4.520000e-18
...,...,...,...,...,...,...,...
1010,3.0,5.000000e+19,1.000000e+16,5.000000e+19,1.0,1.962951,5.757720e-04
1011,3.0,5.000000e+19,1.000000e+16,5.000000e+19,1.0,1.972951,5.810990e-04
1012,3.0,5.000000e+19,1.000000e+16,5.000000e+19,1.0,1.982951,5.864010e-04
1013,3.0,5.000000e+19,1.000000e+16,5.000000e+19,1.0,1.992951,5.916890e-04
1014,3.0,5.000000e+19,1.000000e+16,5.000000e+19,1.0,2.000000,5.953990e-04

In [20]:
df.columns

Index(['Tsi', 'Tox', 'Ns', 'Nc', 'Nd', 'Vds', 'Vgs', 'Id'], dtype='object')

In [35]:
print(df.columns)

Index(['Tsi', 'Tox', 'Ns', 'Nc', 'Nd', 'Vds', 'Vgs', 'Id'], dtype='object')

In [36]:
df.to_csv('./test_data.csv', index=False)